apiVersion: v1
kind: Service
metadata:
  name: nginx-website
  labels:
    app: nginx-website
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: nginx-website