apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-website
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/piotrsobczakwro/argocd-k8s-nginx-website
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
